FOR870_Paper.pdf
figures/*.tex
data/*.rds
data/*.gpkg
figures/*.pdf
manuscript/*.tex
.Rproj.user
*.tar.gz
.Rhistory
manuscript/code-pdf_source/*.md
manuscript/figures-pdf_source/*.R
manuscript/figures-pdf_source/*.md
manuscript/code-pdf_source/*.html
